.app-wrapper {
  /* margin: 0 auto; */
  display: grid;
  /* width: 1200px; */
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  box-sizing: border-box;

  /* max-width: 1050px;
  width: 1170px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; */
}

.app-wrapper-content {
  grid-area: c;
  /* background-color: cornflowerblue; */
}

h5 {
  color: #27aae1;
}